<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout - 1</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo"><a href="/">Ritvik Sakpal</a></div>
    </nav>
    <ul class="menu">
      <li><a href="/work">WORK</a></li>
      <li><a href="/about" class="active">ABOUT</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
    <div class="burger">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="about">
      <div class="imgwa">
        <img src="/images/profile.png" alt="" srcset="" />
      </div>
      <div class="descwa">
        <div class="edu">
          <h1>Education</h1>
          <p>
            1. Primary Education - Atmodaya Vidya Mandir - Kandivali W <br />
            2. Secondary & High School Education - Krist Raj High School - Nala
            Sopara E <br />
            3. Diploma in Computer Science - Viva College of Diploma Engineering
            and Tech. - Virar W (2018) <br />
            4. Bachelors in Engineering, Major Computer Science - Ideal
            Institute of Technology - Wada, Palghar(2022)
          </p>
        </div>
        <div class="desc">
          <h1>Brief</h1>
          <p>
            Hello, I am really glad you thought to check out my portfolio
            website, here is my basic summary till now. I am an IT Executive and
            I've been working in my respective field since January 2020, I am
            also a correspondent student pursuing my Bachelor's Degree in
            Computer Engineering from the University of Mumbai(2022). Although I
            am working in a great Organization and with great people still I am
            seeking an Internship or Entry-level position in Web Development or
            any other position related to IT and Services where I can learn a
            lot of new things and utilize my knowledge and understanding of the
            domain gained during my Schooling. I am Excellent at using known
            some of my known Technologies and also I carry excellent
            communication skills which could be used to convince potential
            clients and customers. Also I've gained and still gaining a lot of
            knowledge and skills regarding my discipline I am still curious to
            learn a lot of new technologies. I can work on technologies like
            HTML CSS and JavaScript for now and I am currently learning some
            technologies like advanced JavaScript, NodeJS, and MongoDB, and much
            more.
          </p>
        </div>
      </div>
    </div>

    <footer class="footer">
      <p>
        Copyright &copy; 2020 Ritvik Sakpal - Designed and Developed By
        <span class="span"
          ><a href="#" class="footername">RitvikSakpal</a></span
        >
      </p>
    </footer>
    <script src="/burger.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
