<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout - 1</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo"><a href="/">Ritvik Sakpal</a></div>
    </nav>
    <ul class="menu">
      <li><a href="/work" class="active">WORK</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
    <div class="burger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="explore">
      <div class="snaps">
        <p>Have a glimpse of my projects below...</p>
        <div class="gallery">
          <div class="row">
            <div class="snap-img" id="snap1">
              <a href="https://ritviksakpal.github.io/FoodSpot/">
                <img src="/images/snaps/1.png" alt="" srcset=""
              /></a>
            </div>
            <div class="snap-img" id="snap2">
              <a href="https://ritviksakpal.github.io/FoodSpot/">
                <img src="/images/snaps/1r.png" alt="" srcset=""
              /></a>
            </div>
          </div>
          <div class="row">
            <div class="snap-img" id="snap3">
              <a href="https://unpopulous-weathers.000webhostapp.com/">
                <img src="/images/snaps/2.png" alt="" srcset=""
              /></a>
            </div>
            <div class="snap-img" id="snap4">
              <a href="https://unpopulous-weathers.000webhostapp.com/">
                <img src="/images/snaps/2r.png" alt="" srcset=""
              /></a>
            </div>
          </div>
          <div class="row">
            <div class="snap-img" id="snap5">
              <a href="https://ritviksakpal.github.io/HardStrengthGym/">
                <img src="/images/snaps/3.png" alt="" srcset=""
              /></a>
            </div>
            <div class="snap-img" id="snap6">
              <a href="https://ritviksakpal.github.io/HardStrengthGym/">
                <img src="/images/snaps/3r.png" alt="" srcset=""
              /></a>
            </div>
          </div>
          <div class="row">
            <div class="snap-img" id="snap7">
              <a href="https://ritviksakpal.github.io/FoodSpot/">
                <img src="/images/snaps/4.png" alt="" srcset=""
              /></a>
            </div>
            <div class="snap-img" id="snap8">
              <a href="https://ritviksakpal.github.io/FoodSpot/">
                <img src="/images/snaps/4r.png" alt="" srcset=""
              /></a>
            </div>
          </div>
          <div class="row">
            <div class="snap-img" id="snap9">
              <a href="https://unpopulous-weathers.000webhostapp.com/">
                <img src="/images/snaps/5.png" alt="" srcset=""
              /></a>
            </div>
            <div class="snap-img" id="snap10">
              <a href="https://unpopulous-weathers.000webhostapp.com/">
                <img src="/images/snaps/5r.png" alt="" srcset=""
              /></a>
            </div>
          </div>
          <div class="row">
            <div class="snap-img" id="snap11">
              <a href="https://ritviksakpal.github.io/HardStrengthGym/">
                <img src="/images/snaps/6.png" alt="" srcset=""
              /></a>
            </div>
            <div class="snap-img" id="snap12">
              <a href="https://ritviksakpal.github.io/HardStrengthGym/">
                <img src="/images/snaps/6r.png" alt="" srcset=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <p>
        Copyright &copy; 2020 Ritvik Sakpal - Designed and Developed By
        <span class="span"
          ><a href="#" class="footername">RitvikSakpal</a></span
        >
      </p>
    </footer>
    <script src="/burger.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
